body {
	font-family:  Arial;
}

.header {
	text-align: center;
}

.two-col {
	margin:  15px;
}

.row {
	display:  flex;
	flex-direction:  row;
	flex-wrap:  wrap;
	width:  100%;
}

.col {
	display:  flex;
	flex-direction:  column;
	flex-basis:  100%;
	flex:  1;
}

.col1 {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.col1 img {
	height: 500px;
	padding: 3px;
	margin-left: 3px;
	object-fit: cover;
}

.col2 {
	height: 1000px;
	text-align:  center;
}

button {
    width: 150px;
    outline: none;
    margin: 50px;
}

.vis1buttons {
	
}

/*.vis1buttons {
	width: 300px;
    height: 200px;
    display: grid;
}*/

/*.vis2buttons {
	width: 300px;
    height: 200px;
    display: grid;

}*/