body {
	font-family:  Arial;
}

.header {
	text-align: center;
}

.two-col {
	margin:  15px;
}

.row {
	display:  flex;
	flex-direction:  row;
	flex-wrap:  wrap;
	width:  100%;
}

.col {
	display:  flex;
	flex-direction:  column;
	flex-basis:  100%;
	flex:  1;
}

.col1 {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.col1 img {
	height: 500px;
	padding: 3px;
	margin-left: 3px;
	object-fit: cover;
}

.col2 {
	height: 1000px;
	text-align:  center;
}

.row1 {
	display:  flex;
	flex-direction: row;
	width: 100%;
	height:  500px;
}

.row2 {
	display:  flex;
	flex-direction: row;
	width: 100%;
	height:  500px;
}

button {
    outline: none;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    padding: 10px

}

#vis2button1 {
	
}

#vis2button2 {
	
}

#vis2buttons {


}


.vis1buttons {
	text-align: left;
	padding-left: 50px;
	
}

.vis2buttons {
	text-align: left;
	padding-left: 50px;
	
}

#marks1 {
	display: none;
	padding-left: 50px;
	
}

#cmap1 {
	display: none;
	padding-left: 50px;

}

#marks2 {
	display: none;
	padding-left: 50px;
}

#cmap2 {
	display: none;
	padding-left: 50px;

}
